/* 公共样式 */
.my-header {
	background: #006699;
}

.my-header h1 {
	color: #FFF;
}

.my-header .mui-icon {
	color: #FFF;
}

.my-footer {
	background: #006699;
}

.my-footer .mui-tab-item {
	color: #FFF;
}

.my-footer .mui-tab-item.mui-active {
	color: darkorange;
}
body {
	background-color: #fff;
}
button {
	border: none;
	outline: none;
}
ul,p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000;
}
.product{
	padding:0 10px;
}

.product .title{
	width:100%;
	margin:10px 0;
}

.product .list{
	
}

.product li{
	width:50%;
	float:left;
	padding:5px;
}

.product a{
	display:block;
	padding:0 5px;
	box-shadow:0 0 5px #ccc;
	overflow:hidden;
}

.product a img{
	width:100%;
}

.product .name{
	line-height:18px;
	display:block;
	color:#8f8f94;
	text-align:center;
	padding:6px;
	height:44px;
	overflow:hidden
}

.product p{
	font-size:12px;
	text-align:center;
}

.product p span:first-child{
	color:#f30;
	margin-right:2px;
}

.product p span:last-child{
	color:#ccc;
	text-decoration:line-through;
	margin-left:2px;
}

.product .buy-now{
	background:#006699;
	color:#FFF;
	margin:0 auto;
	border:none;
	display:block;
	margin-bottom:10px;
}
.mui-content {
	background-color: #fff;
}
.mui-input-group .mui-input-row:after,
.mui-table-view-cell:after {
    left: 0;
}
.mui-input-row label,
.mui-input-row label~input,
.mui-table-view-cell>a:not(.mui-btn) {
    font-size: 14px;
}
