.mui-content {
    background-color: #fff;
}
.mui-input-group .mui-input-row:after {
    left: 0;
}
.mui-input-row label,.mui-input-row label~input {
    font-size: 14px;
}
#getCode {
    color: #006699;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform:  translateY(-50%);
}
.mui-btn-blue, .mui-btn-primary, input[type=submit] {
    border: 1px solid #006699;
    background-color: #006699;
}
#loginNow {
    color: #006699;
    font-size: 14px;
    display: block;
    margin-top: 20px;
    padding-right: 10px;
}