.search-bar {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #efeff4;
}
#refreshContainer {
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 50px;
    width: 100%;
}
.mui-row {
    margin: 10px 12px 6px 12px;
}